body {
    font-family: Arial, sans-serif;
    /* overflow-x: hidden; */
}
#download{

    /* display: none; */
    margin: 5px auto;
 width: 100%;
 height: auto;
 padding: 2px;
 background-color: var(--main-color);
 font-size: 35px;
 color: var(--main-color2);
 margin-bottom: 10px;
 
}
#download:hover{
    transform: scaleY(1.2);
}
#download1{
    margin: 5px auto;
     display: none; 
     text-align: center;
     align-items: center;
    width: 100%;
    height: 40px;
    background-color: var(--main-color);
    color: var(--main-color2);
    text-decoration: none;

}
.cvAsImage{
    width: auto;

 display: flex;
 justify-content: flex-start;
 /* border: 2px solid black; */

}
.addAtherDetaisl{
    margin: 50px auto 0px;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}

/* display massage  */

.model{
    
    position: fixed; /* Fixed position */
    margin: 10% 28%;
    width: 50%;
    height: 50%;
    text-align: center;
    background-color: #fff7b0; /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 99999;
    border: 4px solid rgb(255, 0, 0);
 
}
.message {
  
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}
#messageOK {
    padding: 10px 20px;
    margin-top: 20px;
    width: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff5347;
    color: white;
}

#messageOK:hover {
    background-color: #3d0d0d;
}

.RightSideName{
     margin: 50px auto 0px;
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}


/* coler chuse */
.color-option{
  
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 40%;
            border: 2px solid white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.color-option:hover{
    transform: scale(1.5);
}

.color-palette{
    margin-top: 40px ;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.cvAsIUmageArea{
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
   
}
#imagePreview{
    margin-left: -150px;
    margin-top: -30%;
    transform: scale(0.5 );
    display: flex;
    
    
   
}
/* //profile viw */
.profileForme{
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid var(--main-color);
    
}

.profileForme #profilNam{
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--main-color) ;
    
    font-weight: bold;
}
.profileForme #profilNam:hover{
    transform: scaleY(1.2)

}
#profileDetaislCv:hover {
    transform: scaleY(1.2);
}


/* CV Contact title style  */
#PerDet{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 24px;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    /* text-decoration: underline 2px solid var(--main-color); */
    
}
/* use fore contact list add */

.ContctDelIcon{
    margin:auto 4%;
    cursor: pointer;
    color: black;
    background-color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    width: 10%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
}
.ContctDelIcon:hover{
    border: 4px solid black;
    width: 13%;
    height: 45px;
}
#cv_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom:  4px solid  var(--main-color);
}
#cv_contact > :first-child i{
    margin-left: -21px;
}
#cv_contact > :first-child input{
    margin-left: -10px;
}
.item{
    padding-left: 2%;
    justify-items: flex-start;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.item i{
    margin-left: 10px;
   
}
.item input{
    margin-top: 2%;
    width: 80%;
    margin-left: 7%;
    
    animation: enterDetaisl 1s forwards;
}
.contactList{
    margin-left: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
    


}
.contact-item{
    display: flex;
    font-size: 120% ;
    transition: all 0.3s ease;
}

.contact-item button:hover{
    transform: scale(2.1);
}

.contactAddButton{
    font-size: 100%;
    background-color: #ffffff00;
    border: none;
    cursor: pointer;
}
.contactAddButton i:hover{
    color: white;
}
/* add to cv contacy buttons */
.addConToCvButt{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    margin-top:5%;
}
.addConToCvButt button{
    width: 40%;
    text-align: center;
    background-color:var(--main-color);
    color: var(--main-color2);

    height: 40px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;

}
.addConToCvButt  button:hover{
    transform: scale(1.2);
    border: 2px solid black;

}

/* this div use fore add new forme  */
.my_class .my_class_right{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    margin-top: 5%;
}
/* .my_class_right{
    border:  2px solid black;
    width: 100%;
    height: 10px;
} */

/* this use fore  change button in newform */
.button-group_2{
    display: flex;
    gap: 10px; 
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    /* border:  1pX solid black; */
}
.button-group {
    display: flex;
    gap: 10px; 
    margin-top: 10px;
    /* border:  1pX solid rgb(129, 12, 12); */
    padding-left: 7%;
}
.add_button 
{
    display: flex;
    width: 67%;
    margin-left:8% ;
    height: 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 40px ;
    font-family: bold;
    /* border: 2px solid rgb(109, 109, 109); */
    font-weight: 1000;
    opacity: 80%;
}
.rem_button{
    display: flex;
    width: 7%;
    height: 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    align-items: center;
    justify-content: center;border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 40px ;
    font-family: bold;
    /* border: 2px solid rgb(109, 109, 109); */
    font-weight: 1000;
    opacity: 80%;


}
.addToCv ,.removeFromCv{
    width: 40%;
    text-align: center;
    background-color:var(--main-color);
    color: var(--main-color2);
    /* border: 1px solid black; */
    height: 40px;
    cursor: pointer;
    border-radius: 7px;

}
.add_button:hover,.addToCv:hover,.removeFromCv:hover{

    /* height: 60px;
    width: 77%; */
    transform: scale(1.05,1.2);
    opacity: 1;
    border: 2px solid rgb(0, 0, 0);

}  
.rem_button:hover{
    /* height: 60px;
    width: 10%; */
    transform: scale(1.5,1.2);
    opacity: 1;
    border: 2px solid rgb(0, 0, 0);
} 
/* inputs */
.details{
    margin-left: 15%;
    width: 67%;
    animation: enterDetaisl 1s ;
}

@keyframes enterDetaisl {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.listName{
    margin-left: 12%;
    width: 80%;
    animation: enterListName 1s forwards ;
}

@keyframes enterListName {
    0% {
        opacity: 0;
        width: 0px;
    }
    100% {
        opacity: 1;
        width: 70%;
    }
}
/* form area style  */
.newfrom{
margin: 10px auto;
padding: 10px auto;
display: flex;
width: 100%;
flex-direction: column;
height: auto;
padding-bottom: 10px;
border-bottom: 4px solid var(--main-color);

}


/* list add and list create button  */
#listAddButton , #removeListButton ,#listAddButtonToRight , #removeListButtonRigth{
    width: 40%;
    text-align: center;
    background-color: var(--main-color);
    color: var(--main-color2);
    border: 1px solid black;
    height: 40px;
    cursor: pointer;
    border-radius: 7px;;

}
.listAddBttonDiv{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.filing_area{
    display: flex;
    width: 100%;
    /* justify-content:space-evenly; */
    margin: 20px auto;
    box-sizing: border-box;


}
#cv-form{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}
#cv-form label {
    margin-top: 10px;
}
 input, textarea {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    height: 18px;
}
.leftSide{

    width: 140%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient(to right, var(--main-color2) 70%, var(--main-color) );
    /* background-color: var(--main-color2); */
    height: auto;
}
.leftSide h1{
  color: white;
  text-align: center;
  text-decoration: underline ;
}
.rightSide{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right , white , rgb(226, 226, 226));
    height: auto;
}

/* cv ass image aerea */

.diplayCvImg{
    
}